.professionalScheduleTitle {
	width: 100%;
	margin-top: 0px;
}

.professionalScheduleContainer {
	width: calc(100% - 69px);
}

@media only screen and (max-width: 768px) {
	.professionalScheduleContainer {
		width: calc(100% - 5px);
	}
}

.botoesComando{
  flex-direction: row;
  color: white;
  justify-content: space-between;
  max-width: 500px;
  align-items: center;
  min-height: 100px;
}

.minus,
.plus {
  color: white;
}

.collapsible li.active .collapsible-header .minus,
.collapsible li .collapsible-header .plus {
  display: none;
  transition: 1.5s;
}

.collapsible li.active .collapsible-header .plus {
  display: block;
  transition: 1.5s;
}

.body-half-screen tbody tr td {
  height: unset!important;
}
