div.startSearchGrouped {
	margin-left: 0px !important;
}

.startSearchGrouped div{
  margin: 0px!important;
}

.startSearchGrouped .linhaCampos{
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: row;
}

.startSearchGrouped div div.campos{
  margin-left: 3px!important;
}
/*
.startSearchGrouped .linhaAgrupamento{
  margin-bottom: 70px!important;
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.startSearchGrouped .linhaItemAgrupamento{
  margin-bottom: 70px!important;
  padding-left: 0px!important;
  padding-right: 0px!important;
} */

@media only screen and (max-width: 768px) {
  .startSearchGrouped div{
    margin: 0px!important;
  }

  .startSearchGrouped div div.campos{
    margin: 0px!important;
  }
}
